MONGODB_URI=mongodb://127.0.0.1:27017/sivas-gundem-58
JWT_SECRET=change-this-secret
ADMIN_EMAIL=admin@sivasgundem58.com
ADMIN_PASSWORD=change-this-password
NEXT_PUBLIC_SITE_URL=http://localhost:3000
CRON_SECRET=change-this-cron-secret
LOCAL_DB=1
